.forecastContainer{
  border:2px solid gray;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
  background-image: url("./clouds2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px gray;
  
}
.details{
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}
.heading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.conditions{
  font-size: 15px;
  color:orange;
}
@media (max-width:375px) {

  .details{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-weight: small;
  }
  .heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: small;
  }
  .conditions{
    font-size: 10px;
    color:orange;
    font-weight: small;
  }
}
@media (max-width:725px) {
  .forecastContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }

  .details{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
   
  }
  .heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: small;
  }
  .heading2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: small;
    font-size: 16px;
  }
  .conditions{
    font-size: 12px;
    color:orange;
    font-weight: small;
  }
}